{% extends 'base.html.twig' %}

{% block title %}
	Editing an Existing Post
{% endblock %}

{% block bread %}
	>
	<div class="hover:font-semibold mr-2 ml-2">
		<a href="{{ path('app_micro_post_show', {post: post.id}) }}">Post</a>
	</div>

	> Edit
{% endblock %}

{% block body %}
	<div class="mt-8">{{ include ('micro_post/_form.html.twig') }}
	</div>

{% endblock %}
