{% extends 'base.html.twig' %}

{% block title %}Post -
	{{post.title}}
{% endblock %}

{% block bread %}
	> Post
{% endblock %}

{% block body %}
	{{ include('micro_post/_post.html.twig', {post: post})}}
	<div>
		<a href=" {{ path('app_micro_post_edit', {post: post.id} ) }}" class="bg-sky-600 text-white font-bold py-1 px-3 rounded mt-3 dark:bg-sky-600 hover:bg-sky-700 dark:hover:bg-sky-500 rounded-md" type='submit'>Edit</a>
	</div>
{% endblock %}
